*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

.home-header {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	border-bottom: 0.1px solid #e5e7eb;
}

.header {
	display: flex;
	gap: 10px;
}

.header img {
	height: 60px;
}

.header-title {
	font-size: 2em;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.header-title-left {
	color: blue;
}

.header-title-right {
	color: red;
}

.container {
	margin: 50px 120px 80px 120px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 60px 20px;
}

.cell {
	border: 1px solid black;
	height: 250px;
	width: 370px;
}

.cell-desc {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
	font-size: 1.2em;
	font-weight: 500;
}

.cell img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.cell-desc-img {
	display: flex;
	gap: 10px;
	height: 30px;
}

.cell-desc-img img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.puzzle header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 0 50px;
	border-bottom: 0.1px solid #e5e7eb;
}

.return-btn {
	border: 0.5px solid black;
	border-radius: 8px;
	padding: 10px 20px;
	background-color: #eee;
}

.return-btn:hover {
	background-color: #ddd;
}

.puzzle-chars {
	height: 50px;
	display: flex;
	gap: 10px;
}

.puzzle-chars img {
	height: 100%;
	width: 100%;
}

.puzzle .container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 50px;
	max-width: 1200px;
}

.puzzle .container img {
	max-width: 100%;
}

.dropdown {
	display: flex;
	flex-direction: column;
	width: 120px;
}

.dropdown-btn {
	border: 0.1px solid #e5e7eb;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 40px;
	background-color: white;
	cursor: pointer;
	font-weight: 600;
}

.dropdown-btn:hover {
	background-color: #eee;
}

.dropdown-img {
	width: 25px;
	height: 25px;
}

.dropdown-text {
	text-transform: capitalize;
}

.found {
	opacity: 20%;
}
